.LongField {
}

.Output {
}

.Output span[id^="line-"] {
  display: block;
}

.Output span.ansi1 {
  font-weight: bold;
}

.Output-content {
  max-height: 2500px;
  overflow-y: scroll;
}

.Table {
  table-layout: fixed;
}

.Table-cell--nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
