<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Laulik</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="https://github.com/kurrik/laulik/tree/master/data" role="button">Edit on Github</a>
          <a class="btn btn-default btn-lg" href="https://github.com/kurrik/laulik/blob/master/reference.md" role="button">View reference</a>
        </p>
        <p>Last commit: <code>{{ git_info }}</code></p>
      </div>
    </div>
    <div class="container-fluid">
      {% if msg %}
        <div class="alert alert-info">
          {{ msg }}
        </div>
      {% endif %}
      {% if output %}
        <div class="Output" id="Output1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-target="#Collapse1" data-parent="#Output" href="#Output">
                  Build output
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </a>
              </h3>
            </div>
            <div class="panel-collapse collapse" id="Collapse1">
              <div class="panel-body Output-content">
                {{ output }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <table class="table Table">
            <colgroup>
              <col class="col-md-2">
              <col class="col-md-4">
              <col class="col-md-2">
              <col class="col-md-2">
              <col class="col-md-2">
            </col>
            <thead>
              <tr>
                <th>Key</th>
                <th>Title</th>
                <th>Version</th>
                <th>Download</th>
                <th>Action</th>
              </tr>
            </thead>
            {% for meta in projects %}
              <tr>
                <td>{{ meta.key }}</td>
                <td>{{ meta.project.title }} <span class="text-muted">{{ meta.project.subtitle }}</span></td>
                <td class="Table-cell--nowrap">{{ meta.version }}</td>
                <td>
                  <a class="btn btn-default btn-xs" href="/build/{{ meta.key }}/{{ meta.version }}.pdf">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> PDF</a>
                  <a class="btn btn-default btn-xs" href="/build/{{ meta.key }}/{{ meta.version }}.tex">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> LaTeX</a>
                </td>
                <td>
                  <form method="POST">
                    <input type="hidden" name="key" value="{{ meta.key }}" />
                    <button class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                      Build
                    </button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
